#Assignment-1

##Anjali vishwakarma-MT2310

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (0.13.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install scipy

Requirement already satisfied: scipy in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\nano\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
#import python Libaries
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\nano\OneDrive\Desktop\train.csv", encoding='ISO-8859-1')

In [14]:
# r"C:\Users\nano\OneDrive\Desktop\train.csv", encoding='ISO-8859-1'

In [15]:
df.columns.values

array(['Station', 'Station Code', 'Line',
       'Distance From Previous of the Line',
       'Time taken From Previous of the Line', 'About', 'Platforms',
       'Tracks', 'Year of Opening ', 'Nearby attractions',
       'Number of Passengers ', 'Previous names'], dtype=object)

In [16]:
df.dtypes

Station                                  object
Station Code                             object
Line                                     object
Distance From Previous of the Line       object
Time taken From Previous of the Line     object
About                                    object
Platforms                               float64
Tracks                                  float64
Year of Opening                         float64
Nearby attractions                       object
Number of Passengers                     object
Previous names                           object
dtype: object

In [17]:
df.shape

(202, 12)

In [18]:
df.shape[0]

202

In [19]:
df.shape[1]

12

In [20]:
df.head(5)

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,Churchgate,CCG,Western,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN
1,Marine Lines,MEL,Western,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN
2,Charni Road,CYR,Western,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN
3,Grant Road,GTR,Western,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN
4,Mumbai Central,MMCT,Western,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...

In [21]:
df.tail(5)

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
197,Neral,NRL,Neral-Matheran,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN
198,Jumapatti,JTT,Neral-Matheran,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
199,Waterpipe,WTP,Neral-Matheran,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
200,Aman Lodge,AMNA,Neral-Matheran,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN
201,Matheran,MAE,Neral-Matheran,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Station                               202 non-null    object
 1   Station Code                          202 non-null    object
 2   Line                                  202 non-null    object
 3   Distance From Previous of the Line    202 non-null    object
 4   Time taken From Previous of the Line  202 non-null    object
 5   About                                 202 non-null    object
 6   Platforms                             197 non-null    float64
 7   Tracks                                193 non-null    float64
 8   Year of Opening                       83 non-null     float64
 9   Nearby attractions                    202 non-null    object
 10  Number of Passengers                  21 non-null     object
 11  Previous names                        11 non-null     object
dtypes: float64(3), object(9)
memory usage: 19.1+ KB

In [26]:
df.Platforms.count()

np.int64(197)

In [27]:
df.Platforms.value_counts()

Platforms
2.0     70
4.0     49
3.0     27
8.0     12
6.0     11
7.0      9
1.0      5
5.0      5
10.0     4
15.0     3
9.0      2
Name: count, dtype: int64

In [28]:
df.isnull()

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
197,False,False,False,False,False,False,False,False,True,False,True,True
198,False,False,False,False,False,False,True,True,True,False,True,True
199,False,False,False,False,False,False,True,True,True,False,True,True
200,False,False,False,False,False,False,True,True,True,False,True,True
201,False,False,False,False,False,False,True,True,False,False,True,True

In [29]:
df.notnull()

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,True,True,True,True,True,True,True,True,True,True,False,False
1,True,True,True,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True,True,False,False
3,True,True,True,True,True,True,True,True,False,True,False,False
4,True,True,True,True,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
197,True,True,True,True,True,True,True,True,False,True,False,False
198,True,True,True,True,True,True,False,False,False,True,False,False
199,True,True,True,True,True,True,False,False,False,True,False,False
200,True,True,True,True,True,True,False,False,False,True,False,False
201,True,True,True,True,True,True,False,False,True,True,False,False

In [30]:
df[df.notnull()]

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,Churchgate,CCG,Western,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN
1,Marine Lines,MEL,Western,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN
2,Charni Road,CYR,Western,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN
3,Grant Road,GTR,Western,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN
4,Mumbai Central,MMCT,Western,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...
...,...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,Neral-Matheran,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN
198,Jumapatti,JTT,Neral-Matheran,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
199,Waterpipe,WTP,Neral-Matheran,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
200,Aman Lodge,AMNA,Neral-Matheran,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN
201,Matheran,MAE,Neral-Matheran,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN

In [31]:
df[df.isnull()]

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.describe()

        Platforms      Tracks  Year of Opening
count  197.000000  193.000000         83.000000
mean     3.934010    4.792746       1914.542169
std      2.505242    2.717334         52.801354
min      1.000000    1.000000       1853.000000
25%      2.000000    3.000000       1867.500000
50%      3.000000    4.000000       1893.000000
75%      4.000000    6.000000       1966.000000
max     15.000000   13.000000       2018.000000

In [35]:
df.sum(numeric_only=True)

Platforms              775.0
Tracks                 925.0
Year of Opening     158907.0
dtype: float64

In [36]:
df.mean(numeric_only=True)

Platforms              3.934010
Tracks                 4.792746
Year of Opening     1914.542169
dtype: float64

In [39]:
df.corr(numeric_only=True)

                  Platforms    Tracks  Year of Opening
Platforms          1.000000  0.864724         -0.369114
Tracks             0.864724  1.000000         -0.300378
Year of Opening   -0.369114 -0.300378          1.000000

In [41]:
df.cov(numeric_only=True)

                  Platforms     Tracks  Year of Opening
Platforms          6.276235   5.926706        -58.554351
Tracks             5.926706   7.383905        -45.441734
Year of Opening  -58.554351 -45.441734       2787.982956

In [42]:
df.Platforms.mean()

np.float64(3.934010152284264)

In [43]:
df.Tracks.sum()

np.float64(925.0)

In [44]:
df.fillna(0)

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,Churchgate,CCG,Western,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",0,0
1,Marine Lines,MEL,Western,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",0,0
2,Charni Road,CYR,Western,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",0,0
3,Grant Road,GTR,Western,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,0.0,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",0,0
4,Mumbai Central,MMCT,Western,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",0,Bellasis Road (Suburban station) Bombay Centra...
...,...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,Neral-Matheran,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,0.0,"Matheran Hill Railway,Louisa Point,Charlotte Lake",0,0
198,Jumapatti,JTT,Neral-Matheran,5 KM,46 min,Jummapatti railway station is a railway statio...,0.0,0.0,0.0,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",0,0
199,Waterpipe,WTP,Neral-Matheran,6 KM,46 min,Water Pipe railway station is a railway statio...,0.0,0.0,0.0,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",0,0
200,Aman Lodge,AMNA,Neral-Matheran,7 KM,50 min,Aman Lodge railway station is a railway statio...,0.0,0.0,0.0,"Louisa Point,Echo Point,Panorama Point",0,0
201,Matheran,MAE,Neral-Matheran,2 KM,18 min,Matheran Railway Station is the upper terminus...,0.0,0.0,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",0,0

In [45]:
df.isnull()

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,True,False,True,True
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
197,False,False,False,False,False,False,False,False,True,False,True,True
198,False,False,False,False,False,False,True,True,True,False,True,True
199,False,False,False,False,False,False,True,True,True,False,True,True
200,False,False,False,False,False,False,True,True,True,False,True,True
201,False,False,False,False,False,False,True,True,False,False,True,True

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Station                               202 non-null    object
 1   Station Code                          202 non-null    object
 2   Line                                  202 non-null    object
 3   Distance From Previous of the Line    202 non-null    object
 4   Time taken From Previous of the Line  202 non-null    object
 5   About                                 202 non-null    object
 6   Platforms                             197 non-null    float64
 7   Tracks                                193 non-null    float64
 8   Year of Opening                       83 non-null     float64
 9   Nearby attractions                    202 non-null    object
 10  Number of Passengers                  21 non-null     object
 11  Previous names                        11 non-null     object
dtypes: float64(3), object(9)
memory usage: 19.1+ KB

In [47]:
df[df.isnull()]

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df1=df.drop(['Tracks'],axis=1)
df1

,Station,Station Code,Line,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,Churchgate,CCG,Western,0 KM,0 min,The Fort area built by the British had three m...,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN
1,Marine Lines,MEL,Western,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN
2,Charni Road,CYR,Western,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN
3,Grant Road,GTR,Western,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN
4,Mumbai Central,MMCT,Western,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...
...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,Neral-Matheran,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN
198,Jumapatti,JTT,Neral-Matheran,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
199,Waterpipe,WTP,Neral-Matheran,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
200,Aman Lodge,AMNA,Neral-Matheran,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN
201,Matheran,MAE,Neral-Matheran,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN

In [49]:
df1.drop(['Station','Line'],axis=1)

,Station Code,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,CCG,0 KM,0 min,The Fort area built by the British had three m...,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN
1,MEL,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN
2,CYR,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN
3,GTR,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN
4,MMCT,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...
...,...,...,...,...,...,...,...,...,...
197,NRL,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN
198,JTT,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
199,WTP,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
200,AMNA,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN
201,MAE,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN

In [52]:
del df['Line']

In [53]:
df

,Station,Station Code,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names
0,Churchgate,CCG,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN
1,Marine Lines,MEL,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN
2,Charni Road,CYR,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN
3,Grant Road,GTR,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN
4,Mumbai Central,MMCT,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...
...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN
198,Jumapatti,JTT,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
199,Waterpipe,WTP,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN
200,Aman Lodge,AMNA,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN
201,Matheran,MAE,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN

In [54]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
Station,Churchgate,Marine Lines,Charni Road,Grant Road,Mumbai Central,Mahalakshmi,Lower Parel,Prabhadevi,Dadar,Matunga Road,...,Nilje,Taloja Panchanand,Navade Road,Kalamboli,Panvel,Neral,Jumapatti,Waterpipe,Aman Lodge,Matheran
Station Code,CCG,MEL,CYR,GTR,MMCT,MX,PL,PBHD,D/DR/DDR,MRU,...,NIIJ,TPND,NVRD,KLMG,PNVL,NRL,JTT,WTP,AMNA,MAE
Distance From Previous of the Line,0 KM,1 KM,1 KM,1 KM,1 KM,1 KM,2 KM,1 KM,1 KM,2 KM,...,4 KM,6 KM,4 KM,2 KM,4 KM,0 KM,5 KM,6 KM,7 KM,2 KM
Time taken From Previous of the Line,0 min,3 min,2 min,3 min,2 min,3 min,3 min,3 min,2 min,2 min,...,11 min,9 min,7 min,3 min,16 min,0 min,46 min,46 min,50 min,18 min
About,The Fort area built by the British had three m...,Marine Lines (station code: MEL) is a railway ...,"Charni Road (formerly Churney Road, station co...","Grant Road (/gra?nt/; station code: GTR), form...","Mumbai Central (formerly Bombay Central, stati...",Mahalaxmi (Pronunciation: [m??a?l?k?mi?]; stat...,"Lower Parel (Pronunciation: [p????], [p??e?l];...",Prabhadevi railway station is a Railway statio...,Dadar railway station is one of the major inte...,Matunga Road ([ma??u??a?] station code:MRU) is...,...,Nilaje is a railway station on the VasaiDiva...,Taloja Panchanad (formerly Taloja) is a railwa...,Navade Road is a railway station on the Vasai ...,Kalamboli is a railway station on the Vasai Ro...,Panvel railway station (station code: PL (subu...,Neral Junction is a railway station on the Cen...,Jummapatti railway station is a railway statio...,Water Pipe railway station is a railway statio...,Aman Lodge railway station is a railway statio...,Matheran Railway Station is the upper terminus...
Platforms,4.0,4.0,4.0,4.0,9.0,3.0,3.0,2.0,15.0,2.0,...,2.0,2.0,3.0,2.0,7.0,2.0,NaN,NaN,NaN,NaN
Tracks,4.0,4.0,4.0,4.0,9.0,3.0,5.0,7.0,13.0,5.0,...,4.0,4.0,4.0,4.0,10.0,2.0,NaN,NaN,NaN,NaN
Year of Opening,1867.0,1867.0,1867.0,NaN,1930.0,1867.0,1867.0,1867.0,1868.0,1867.0,...,1966.0,1966.0,1966.0,1966.0,1962.0,NaN,NaN,NaN,NaN,1907.0
Nearby attractions,"Marine Drive,Nariman Point,Flora Fountain","Marine Drive,Girgaum Chowpatty Beach,Taraporew...","Girgaum Chowpatty Beach,Taraporewala Aquarium,...","Taraporewala Aquarium,Girgaum Chowpatty Beach,...","Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...","Mahalakshmi Temple,Haji Ali Dargah,Nehru Scien...","High Street Phoenix Mall,Kamala Mills Compound...","Siddhivinayak Temple,Shivaji Park,Worli Sea Face","Shivaji Park,Siddhivinayak Temple,Dadar Flower...","Dadar Beach,Shivaji Park,Siddhivinayak Temple",...,"Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Karnala Bird Sanctuary,Karnala Fort,Gadeshwar Dam","Matheran Hill Railway,Louisa Point,Charlotte Lake","Manas Mandir,Tungareshwar Wildlife Sanctuary,M...","Manas Mandir,Tungareshwar Wildlife Sanctuary,M...","Louisa Point,Echo Point,Panorama Point","Charlotte Lake,Louisa Point,Panorama Point"
Number of Passengers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.6 million (Annually),"211,888 (Daily)",NaN,...,NaN,NaN,NaN,NaN,1 million (Daily),NaN,NaN,NaN,NaN,NaN
Previous names,NaN,NaN,NaN,NaN,Bellasis Road (Suburban station) Bombay Centra...,NaN,NaN,Elphistone Road,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
Station,Churchgate,Marine Lines,Charni Road,Grant Road,Mumbai Central,Mahalakshmi,Lower Parel,Prabhadevi,Dadar,Matunga Road,...,Nilje,Taloja Panchanand,Navade Road,Kalamboli,Panvel,Neral,Jumapatti,Waterpipe,Aman Lodge,Matheran
Station Code,CCG,MEL,CYR,GTR,MMCT,MX,PL,PBHD,D/DR/DDR,MRU,...,NIIJ,TPND,NVRD,KLMG,PNVL,NRL,JTT,WTP,AMNA,MAE
Distance From Previous of the Line,0 KM,1 KM,1 KM,1 KM,1 KM,1 KM,2 KM,1 KM,1 KM,2 KM,...,4 KM,6 KM,4 KM,2 KM,4 KM,0 KM,5 KM,6 KM,7 KM,2 KM
Time taken From Previous of the Line,0 min,3 min,2 min,3 min,2 min,3 min,3 min,3 min,2 min,2 min,...,11 min,9 min,7 min,3 min,16 min,0 min,46 min,46 min,50 min,18 min
About,The Fort area built by the British had three m...,Marine Lines (station code: MEL) is a railway ...,"Charni Road (formerly Churney Road, station co...","Grant Road (/gra?nt/; station code: GTR), form...","Mumbai Central (formerly Bombay Central, stati...",Mahalaxmi (Pronunciation: [m??a?l?k?mi?]; stat...,"Lower Parel (Pronunciation: [p????], [p??e?l];...",Prabhadevi railway station is a Railway statio...,Dadar railway station is one of the major inte...,Matunga Road ([ma??u??a?] station code:MRU) is...,...,Nilaje is a railway station on the VasaiDiva...,Taloja Panchanad (formerly Taloja) is a railwa...,Navade Road is a railway station on the Vasai ...,Kalamboli is a railway station on the Vasai Ro...,Panvel railway station (station code: PL (subu...,Neral Junction is a railway station on the Cen...,Jummapatti railway station is a railway statio...,Water Pipe railway station is a railway statio...,Aman Lodge railway station is a railway statio...,Matheran Railway Station is the upper terminus...
Platforms,4.0,4.0,4.0,4.0,9.0,3.0,3.0,2.0,15.0,2.0,...,2.0,2.0,3.0,2.0,7.0,2.0,NaN,NaN,NaN,NaN
Tracks,4.0,4.0,4.0,4.0,9.0,3.0,5.0,7.0,13.0,5.0,...,4.0,4.0,4.0,4.0,10.0,2.0,NaN,NaN,NaN,NaN
Year of Opening,1867.0,1867.0,1867.0,NaN,1930.0,1867.0,1867.0,1867.0,1868.0,1867.0,...,1966.0,1966.0,1966.0,1966.0,1962.0,NaN,NaN,NaN,NaN,1907.0
Nearby attractions,"Marine Drive,Nariman Point,Flora Fountain","Marine Drive,Girgaum Chowpatty Beach,Taraporew...","Girgaum Chowpatty Beach,Taraporewala Aquarium,...","Taraporewala Aquarium,Girgaum Chowpatty Beach,...","Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...","Mahalakshmi Temple,Haji Ali Dargah,Nehru Scien...","High Street Phoenix Mall,Kamala Mills Compound...","Siddhivinayak Temple,Shivaji Park,Worli Sea Face","Shivaji Park,Siddhivinayak Temple,Dadar Flower...","Dadar Beach,Shivaji Park,Siddhivinayak Temple",...,"Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Central Park,Pandavkada Waterfalls,ISKCON Temple","Karnala Bird Sanctuary,Karnala Fort,Gadeshwar Dam","Matheran Hill Railway,Louisa Point,Charlotte Lake","Manas Mandir,Tungareshwar Wildlife Sanctuary,M...","Manas Mandir,Tungareshwar Wildlife Sanctuary,M...","Louisa Point,Echo Point,Panorama Point","Charlotte Lake,Louisa Point,Panorama Point"
Number of Passengers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.6 million (Annually),"211,888 (Daily)",NaN,...,NaN,NaN,NaN,NaN,1 million (Daily),NaN,NaN,NaN,NaN,NaN
Previous names,NaN,NaN,NaN,NaN,Bellasis Road (Suburban station) Bombay Centra...,NaN,NaN,Elphistone Road,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df['new']=12
df

,Station,Station Code,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names,new
0,Churchgate,CCG,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN,12
1,Marine Lines,MEL,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN,12
2,Charni Road,CYR,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN,12
3,Grant Road,GTR,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN,12
4,Mumbai Central,MMCT,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...,12
...,...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN,12
198,Jumapatti,JTT,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN,12
199,Waterpipe,WTP,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN,12
200,Aman Lodge,AMNA,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN,12
201,Matheran,MAE,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN,12

In [58]:
df['new'] = [3.0, 1.3, 2.2, 0.8, 1.1] * (len(df) // 5) + [3.0, 1.3, 2.2, 0.8, 1.1][:len(df) % 5]
df

,Station,Station Code,Distance From Previous of the Line,Time taken From Previous of the Line,About,Platforms,Tracks,Year of Opening,Nearby attractions,Number of Passengers,Previous names,new
0,Churchgate,CCG,0 KM,0 min,The Fort area built by the British had three m...,4.0,4.0,1867.0,"Marine Drive,Nariman Point,Flora Fountain",NaN,NaN,3.0
1,Marine Lines,MEL,1 KM,3 min,Marine Lines (station code: MEL) is a railway ...,4.0,4.0,1867.0,"Marine Drive,Girgaum Chowpatty Beach,Taraporew...",NaN,NaN,1.3
2,Charni Road,CYR,1 KM,2 min,"Charni Road (formerly Churney Road, station co...",4.0,4.0,1867.0,"Girgaum Chowpatty Beach,Taraporewala Aquarium,...",NaN,NaN,2.2
3,Grant Road,GTR,1 KM,3 min,"Grant Road (/gra?nt/; station code: GTR), form...",4.0,4.0,NaN,"Taraporewala Aquarium,Girgaum Chowpatty Beach,...",NaN,NaN,0.8
4,Mumbai Central,MMCT,1 KM,2 min,"Mumbai Central (formerly Bombay Central, stati...",9.0,9.0,1930.0,"Haji Ali Dargah,Mahalakshmi Temple,Nehru Plane...",NaN,Bellasis Road (Suburban station) Bombay Centra...,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...
197,Neral,NRL,0 KM,0 min,Neral Junction is a railway station on the Cen...,2.0,2.0,NaN,"Matheran Hill Railway,Louisa Point,Charlotte Lake",NaN,NaN,2.2
198,Jumapatti,JTT,5 KM,46 min,Jummapatti railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN,0.8
199,Waterpipe,WTP,6 KM,46 min,Water Pipe railway station is a railway statio...,NaN,NaN,NaN,"Manas Mandir,Tungareshwar Wildlife Sanctuary,M...",NaN,NaN,1.1
200,Aman Lodge,AMNA,7 KM,50 min,Aman Lodge railway station is a railway statio...,NaN,NaN,NaN,"Louisa Point,Echo Point,Panorama Point",NaN,NaN,3.0
201,Matheran,MAE,2 KM,18 min,Matheran Railway Station is the upper terminus...,NaN,NaN,1907.0,"Charlotte Lake,Louisa Point,Panorama Point",NaN,NaN,1.3